
body, html {
  height: 100%;
}

body {
  background-color: #232222;
}

.bgimg {

    height: 100%;

    background-position: center;

    background-size: cover;

    position: relative;

    color: white;

    font-family: 'Lobster', cursive;

    font-size: 40px;

}


.topleft {
    position: relative;
    top: 0;
    left: 16px;
    font-size: 40px;
    font-family: 'Patrick Hand SC', cursive;
    padding-top: 1rem
}


.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
    font-size: 22px;
    font-family: 'Patrick Hand SC', cursive;
}

.bottomright {
    position: absolute;
    bottom: 0;
    right: 16px;
    font-size: 22px;
    list-style-type: none;
    font-family: 'Patrick Hand SC', cursive;
    padding-bottom: 1rem;
}


.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.timer {
  font-family: 'Patrick Hand SC', cursive;
}

hr {
    margin: auto;
    width: 40%;
}

a {
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #FC4F4F;
  text-decoration: none;
}

.logo {
  width: 65px;
  float: left;
}

.name {
  margin: 0;
  padding: 0;
  padding-top: .5rem;
}


.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('img/background.png') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
